/*css  reset*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,figcaption,figure,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1 -apple-system,Helvetica Neue,Roboto,sans-serif}
ul,ol,li{list-style:none}
a{text-decoration:none;color: #bbbfc4;}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;height:1px}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
img, input {
    vertical-align: middle;
}
select {
    appearance: none;
    border: 0px;
    color: #757575;
    background-color: #fff;
}
body {
    background-color: #f3f3f3;
    -webkit-overflow-scrolling : touch;
}
html {
    -webkit-overflow-scrolling : touch;
}
/* 增加媒体查询，设置rem */
@media (min-width: 320px){html{font-size: 32px;} }
@media (min-width: 360px){html{font-size: 36px;} }
@media (min-width: 375px){html{font-size: 37.5px;} }
@media (min-width: 384px){html{font-size: 38.5px;} }
@media (min-width: 414px){html{font-size: 41.4px;} }
@media (min-width: 448px){html{font-size: 44.8px;} }
@media (min-width: 480px){html{font-size: 48px;} }
@media (min-width: 512px){html{font-size: 51.2px;} }
@media (min-width: 544px){html{font-size: 54.4px;} }
@media (min-width: 576px){html{font-size: 57.6px;} }
@media (min-width: 608px){html{font-size: 60.8px;} }
@media (min-width: 640px){html{font-size: 64px;} }
@media (min-width: 750px){html{font-size: 75px;} }
@media (min-width: 800px){html{font-size: 80px;} }
@media (min-width: 1024px){html{font-size: 102.4px;} }
