@import 'variables.scss';
.com_cell {
  background-color: #fff6df;
  color: #fd9a29;
  text-align: center;
}
.com_price {
  color: #fd9a29;
}
.material-icons {
  font-size: 0.5rem
}
.com_col {
  color: #35c590;
}

.mint-cell-text {
  font-size: 0.34rem;
}
.mint-field-core {
  font-size: 0.34rem;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.com_green {
  color: $textColor;
}
.com_gay {
  color: #9e9e9e
}
.com_bro {
  color: #795548
}
.com_divide {
  width: 100%;
  background-color: #f3f3f3;
  border-top: 1px solid #eaeaea;
}
.com_more {
  padding: 10px;
  background-color: $textColor;
  color: #fff;
  margin: 15px;
  text-align: center;
}
.com_subtitle {
  color: #bdbdbd;
  font-size: 0.3rem;
  display: inline-block;
  font-weight: 400;
  font-family: '黑体';
}
.com_fix_div {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  padding: 10px 5%;
}
.com_btn_div {
  width: 88%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.com_btn_style {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  padding: 10px 5%;
}
.mint-cell-value {
  font-size: 0.35rem;
}
// 列表共同样式
.com_list_time {
  font-size: 0.35rem;
  color: #ccc;
  margin-top: 10px;
  display: inline-block;
  text-align: left;
}
.com_list_title {
  font-size: 0.45rem;
  display: inline-block;
  float: left;
  line-height: 0.6rem;
}
.com_list_content {
  font-size: 0.35rem;
  color: #000;
  letter-spacing: .02rem;
  line-height: 0.45rem;
  padding: 0.4rem 0;
}
.com_labelStyle {
  display: inline-block;
  padding: 6px 8px;
  background-color: #e5f4ef;
  color: $textColor;
}
// 重新定义mintUI
.mint-popup-bottom {
  width: 100%;
}

// 重新定义mu-appbar样式
.mu-icon-button {
  width: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 0px;
}
.material-icons {
  font-size: 0.6rem;
}
.mu-appbar-title {
  font-size: 0.35rem;
}
.mu-appbar {
  background-color: $borderColor;
  height: 45px;
  width: 100%;
  z-index: 20151221;
  position: relative;
}
.mint-msgbox-header {
  padding: 35px 0 0;
}
.mint-msgbox-confirm {
  color: $textColor;
}
.mint-tabbar > .mint-tab-item.is-selected {
  color: $textColor;
}
.mint-datetime-action {
  color: #35c590;
}
.com_textarea {
  font-size: 1.2rem;
  color: #474a4f;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  color: rgba(0,0,0,.87);
  font-family: inherit;
}
.mu-popup-bottom {
  width: 100%
}

// 绑定弹出框样式
.goBindDialog {
  border-radius: 20px;
  .mu-dialog-title {
    font-size: 0.45rem;
    padding: 15px 24px 20px;
  }
  .mu-dialog-title+.mu-dialog-body {
    line-height: 0.6rem;
  }
  .mu-ripple-wrapper {

  }
}
.mint-radio-input:checked + .mint-radio-core {
  background-color: #35c590;
  border-color: #35c590;
}
.myPopHead {
  .mu-flexbox {
    padding: 15px 20px;
    font-size: 0.4rem;
  }
}

// 重新自定义微信样式
.weui-icon-success {
  color: #35c590;
}
.weui-btn_primary {
  background-color: #35c590;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  background-color: #35c590;
}
/* 选择地区弹出框 */
.publish-popup-bottom {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  overflow: scroll;
  .titleClass {
    color: #00bd9c
  }
  .mu-item-title {
    font-size: 0.34rem;
  }
  .mu-item {
    padding: 10px;
    min-height: 35px;
  }
  .border-right {
    border-right: 1px solid #ccc;
    font-size: 1.1rem;
    max-height: 400px;
    overflow: scroll;
    width: 50%;
  }
  .mint-radio-label {
    font-size: 0.34rem;
  }
}
// 按钮样式
.mu-checkbox input[type=checkbox]:checked+.mu-checkbox-wrapper .mu-checkbox-icon-uncheck {
  color: #35c590;
}
.mu-checkbox-icon-uncheck {
  color: #35c590;
}
.mu-checkbox-icon-checked {
  color: #35c590;
}

.mu-item-left, .mu-item-right {
  width: inherit;
}

// 底部按钮
.footerBtn {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  .mu-flexbox {
    /* border-top: 1px solid #ccc; */
    padding: 5px 10px;
  }
}
.mu-checkbox.label-left .mu-checkbox-icon {
  margin-left: 10px;
}
.mu-text-field-focus-line {
  background-color: #35c590;
}
.mu-flat-button-primary {
  color: #35c590;
}
.scroll {
  overflow: scroll;
}

.weui-media-box_appmsg .weui-media-box__thumb {
  vertical-align: middle;
}
